@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1666450023215') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-emojiflashfill:before {
  content: "\e78e";
}

.icon-article:before {
  content: "\e6a6";
}

.icon-tijikongjian:before {
  content: "\e89f";
}

.icon-xiangmu:before {
  content: "\e60a";
}

.icon-shouye:before {
  content: "\e8c6";
}

